body::-webkit-scrollbar{
    display:none;
    
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family:'Montserrat',sans-serif;
    padding:0;
    margin:0;
}

main {
    padding:1.25rem;
    max-width:900px;
    margin: 0 auto;
}
p {
    font-size:14px;
}
h1{
    font-size:1.75rem;
    font-weight:700;
    margin-bottom:1.25rem;
}
h2{
    font-size:1.5rem;
    font-weight:700;
}

strong {
    font-size:1.25rem;
    font-weight:700;
    display: inline-block;
    width:90%;
    position: relative;
}

a.summary {
    text-decoration: none;
    color:#000;
}
a.summary:hover{
    color:#d50032;
}
.details {
    display: block;
    position: relative;
    /* overflow:hidden; */
    padding:0rem 0;
}
.details .summary { 
    background:#fafafa;
}
.details .summary h2 {
    margin-top:-3px;
    box-sizing: border-box;

}
.details  .summary:before{
    content:"";
    display: grid;
    place-content: center;
    width:20px;
    height:4px;
    background:#000;
    position: absolute;
    appearance:none;
    top:50%;
    right:23px;
    font-size:2rem;
    transform:translateY(-50%)translateX(50%);
    /* rotate:0deg; */
    transition:all 0.25s;
    transform-origin: top center;
}
.details  .summary:after{
    content:"";
    display: grid;
    place-content: center;
    width:4px;
    height:20px;
    background:#000;
    position: absolute;
    appearance:none;
    top:50%;
    right:21px;
    font-size:2rem;
    transform:translateY(-50%);
    rotate:0deg;
    transition:all 0.25s;
    transform-origin: top center;
}
.details.open  .summary:after{
    content:"";
    display: grid;
    place-content: center;
    width:4px;
    height:0px;
    background:#000;
    position: absolute;
    appearance:none;
    top:50%;
    right:20px;
    font-size:2rem;
    transform:translateY(-50%);
    transition:all 0.25s;
    transform-origin: top center;
    
}
.details .summary:hover:before,
.details .summary:hover:after{
    background-color:#d50032;
}
.details .answers {
    /* transform:translateY(-100%); */
    overflow:hidden;
    position: relative;
   
}
.answers{
    opacity: 0;
    transition: all 0.4s ease-out;
}
.answers.open{
    opacity:1;
}

.details .answers {
    /* border-bottom:1px solid #ddd; */
    margin-bottom:1rem;
}

.answers div {
    border-bottom:1px solid #d5d5d5;
    margin-bottom:1rem;
}
.answers div * {
    width:90%;
} 
.details > .summary {
    list-style: none;
    cursor: pointer;
    position:relative;
    padding: 2rem 0;
}

.destination160-faqs {
    display: flex;
    flex-direction: column;
    gap:1.25rem;
}
.destination160-faqs article{
    padding:40px 40px 0px 40px;
    box-sizing: border-box;
    background:#fafafa;
}

.details .summary h2 {
    margin-bottom:2rem;transition:all 0.4s;
}

.answers > div:last-child{
    margin-bottom:0rem;
}
.details.open{
    padding-bottom:20px;
}

.summary:focus-visible{
    outline-color: #f50032; 
    outline-offset: 1rem;
    color:#d50032;
}
.summary:focus-visible:before,.summary:focus-visible:after{
    background-color: #d50032;    

}